<!DOCTYPE html>
<html style="  position: relative;
         min-height: 100%; background-color: #198754;" lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="header :: myheader"> </div>
</head>
<body style="background-color: #198754">
<div th:replace="header :: mynavbar"> </div>

<h1 class="text-center">Ajouter Golf</h1>
<br>
<div class="container" style=" display: flex;
  align-items: center;
  justify-content: center;  border-width:3px;
 border-style:solid;
 border-color:black;
  width:50%;">

  <form class="col-6"
        method="post"
        action="#"
        enctype="multipart/form-data"
        th:action="@{/golf}"
        th:object="${golf}">


    <input th:field="*{id}" type="hidden">

    <div class="form-group">
      <label>Nom du golf</label>
      <input th:field="*{nom}" type="text" class="form-control"   placeholder="Nom du golf">

    </div>

    <div class="form-group">
      <label>GPS latitude</label><br>
      <input th:field="*{latitude}" class="form-control" type="number" placeholder="longitude" step="0.01" min="-99999999999999999999" max="99999999999999999999">
    </div>

    <div class="form-group">
      <label>GPS longitude</label><br>
      <input th:field="*{longitude}" class="form-control" type="number" placeholder="latitude" step="0.01" min="-99999999999999999999" max="99999999999999999999">
    </div>
    <br>

    <div style="display: flex; align-items: center; justify-content: center; ">
      <button type="submit" class="text-center btn btn-primary">Envoyer</button>

    </div>
  </form>


</div>


</body>
</html>