<!DOCTYPE html>
<html style="  position: relative;
         min-height: 100%; background-color: #198754;" lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myheader"> </div>
</head>
<body style="background-color: #198754">
<div th:replace="header :: mynavbar"> </div>

<h1 class="text-center">Ajouter Tours</h1>
<br>
<div class="container" style=" display: flex;
  align-items: center;
  justify-content: center;  border-width:3px;
 border-style:solid;
 border-color:black;
  width:50%;">

    <form class="col-6"
          method="post"
          action="#"
          enctype="multipart/form-data"
          th:action="@{/arbitre/tours}"
          th:object="${tours}">

        <div class="form-group">

            <input th:field="*{id}" type="hidden">
            <input th:field="*{idTournois}" type="hidden">
        </div>
        <div class="form-group">
            <label>Date du tournois</label>
            <input th:field="*{date}" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label>Taille des équipes</label>
            <input th:field="*{nbJoueursPartie}" type="number" min="2" max="5" class="form-control">
        </div>

        <input type="file" class="form-control" th:field="*{file}">
        <table>
            <theader>

                <td>Numéro du trou</td>
                <td>Temps de marche</td>


            </theader>
            <tbody>
            <tr th:each="ajustement,itemStat:${tours.ajustements}">
                <input  type="hidden" th:field="*{ajustements[__${itemStat.index}__].id}">
                <input  type="hidden" th:field="*{ajustements[__${itemStat.index}__].trou}">
                <td th:text="*{ajustements[__${itemStat.index}__].getTrou().getNumTrou()}"></td>
                <td><input th:field="*{ajustements[__${itemStat.index}__].tempsAjuste}" class="form-control" type="number" ></td>
            </tr>
            </tbody>
        </table>

        <br>

        <div style="display: flex; align-items: center; justify-content: center; ">
            <button type="submit" class="text-center btn btn-primary">Envoyer</button>

        </div>
    </form>


</div>


</body>
</html>